<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <script src="../static/js/main.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <title>Word Unscrambler</title>
</head>
<body>
 <form name="form" onsubmit="send(); return false">
    <input type="text" autocapitalize="off" autocorrect="off" id="input">
 </form>
 <div id="word-container">
   <div id="anagrams"></div>
 </div>
 <div id="info-button">i</div>
 <div id="info-box">
    <div id="close-box"></div>
    <div id="github-logo" onclick="window.location = 'https://github.com/1995eaton/flask-unscrambler'"></div>
    <div id="github-link"><a href="https://github.com/1995eaton/flask-unscrambler">GitHub Source</a></div>
 </div>
</body>
</html>
